.login-block{
    padding-top: 80px;
    padding-bottom: 80px;
  }
.navbar{
  margin-bottom: 40px;
}
.layout-bg{
  height: 100vh;
  @include media-breakpoint-up(md) {
    background-image: linear-gradient(
      174deg,#ffd370 50%,#ffffff 50%,#ffffff 100%)
  }
}
