.input-block {
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  input {
    border: none;
    margin-left: 16px;
    outline: 0;
  }
  a {
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }
}

.list-shadow {
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  .delete {
    width: 14px;
    height: 14px;
  }
}
.tabs-active{
  border-bottom:2px solid $secondary;
}
.checkbox{
  user-select: none;
  cursor: pointer;
  span{
    display: inline-block;
  }
}
